---
import Section from "./section/Section.astro";
import { work } from "@cv";
---

<Section title="Experience">
<ul class="flex flex-col gap-y-4">
  {
    work.map((item) => {
      const startYear = new Date(item.startDate).getFullYear();
      const endYear =item.endDate != null ? new Date(item.endDate).getFullYear() : "Actual";
      const year = `${startYear}-${endYear}`;
      return (
        <>
            <li>
              <article>
                <header>
                  <span class="flex felx-row items-baseline justify-between">
                    <span class="flex felx-row items-baseline gap-2">
                        <h3 class=" text-lg font-semibold inline">{item.name}</h3>
                        {item.hibrid ? <div class="h-6 w-16 text-center bg-gray-100 rounded">hibrid</div> : null}
                    </span>
                    <time class="inline">{year}</time>
                  </span>
                  <h4 class="  font-semibold">{item.position}</h4>
                </header>
                <footer>
                  <p>{item.summary}</p>
                </footer>
              </article>
            </li>
        </>
      );
    })
  }
</ul>

</Section>
